<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bilibili</title>
</head>
<body>
    <h1>bilibili</h1>
    <hr>
    <h3>
        {% for k,v in d_mid.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_sex.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_sign.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_level.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_following.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_follower.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_archive_view.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_article_view.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3>
        {% for k,v in d_likes.items() %} 
            {{k}} : {{v}} <br> 
        {% endfor %}
    </h3>
    <hr>
    <h3></h3>
    <hr>
</body>
</html>